---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

<ul class="flex flex-wrap gap-2" role="list">
  {
    links.map(({ href, label }) => (
      <li>
        {
          href ? (
            <Link
              href={href}
              aria-label={label}
              title={label}
              class={buttonVariants({ variant: 'outline', size: 'icon' })}
              external
            >
              {
                label === 'LinkedIn' ? (
                  <>
                    <img
                      src="/static/linkedin-black.svg"
                      alt=""
                      aria-hidden="true"
                      class="size-4 dark:hidden"
                      loading="lazy"
                    />
                    <img
                      src="/static/linkedin-white.svg"
                      alt=""
                      aria-hidden="true"
                      class="hidden size-4 dark:block"
                      loading="lazy"
                    />
                  </>
                ) : (
                  <Icon
                    name={
                      ICON_MAP[label as keyof typeof ICON_MAP] ||
                      'lucide:message-circle-question'
                    }
                    class="size-4"
                  />
                )
              }
            </Link>
          ) : (
            <span
              aria-label={label}
              title={label}
              class={
                buttonVariants({ variant: 'outline', size: 'icon' }) +
                ' pointer-events-none opacity-60'
              }
            >
              <Icon
                name={
                  ICON_MAP[label as keyof typeof ICON_MAP] ||
                  'lucide:message-circle-question'
                }
                class="size-4"
              />
            </span>
          )
        }
      </li>
    ))
  }
</ul>
